// Definindo as variáveis de cores
$black: #000000;
$white: #ffffff;
$main-blue: #28598C;
$darker-blue: #0D334F;
$main-pink: #E8708B;
$darker-pink: #C64461;
$lighter-pink: #FFB7C7;
$main-yellow: #FFFA64;
$main-cian: #8CEAFF;
$lighter-cian: #BFF3FF;
