@import url('variables.css');

section.delivery-banner {
    background-image: url('../assets/others/banner-azul.png');
    background-size: contain;
    aspect-ratio: 1140 / 209;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 2em 5em;

    border-radius: 20px;

    p, h1 {
        color: var(--white);

        &:hover {
            cursor: default;
            color: var(--white);
        }
    }

    h1 {
        font-size: 2.5em;
        text-decoration-thickness: 5px;
    }

    p {
        width: 50%;
        font-size: 1em;
    }
}

div.search-filter-bar {
    display: flex;
    align-items: center;
    justify-content: center;

    

    padding: 3em 0;

    input[type=text] {
        width: 40%;
        padding: 10px;
        border: 1px solid var(--lighter-gray);
        border-radius: 20px;
        margin-right: 10px;
        font-size: 0.8em;

        background-image: url('../assets/icons/search-icon.png');
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center right 16px;

        &:focus {
            outline: none;
            border: 1px solid var(--main-blue);
        }
    }

    button.filter-button {
        border: none;
        padding: 10px 50px 10px 30px;
        border-radius: 20px;
        background-color: var(--main-pink);
        background-image: url('../assets/icons/filter-icon.png');
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center right 10px;
        color: var(--white);
        cursor: pointer;
        font-size: 0.9em;

        &:hover {
            background-color: var(--lighter-pink);
        }
    }
}

section.explore {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;

    div.explore-by-category {
        width: 100%;
        padding: 3em 0;
        
        .cateories-wrapper {
            width: 100%;
            gap: 0px;
            justify-content: start;
            gap: 10px;
            flex-wrap: wrap;

            div {
                padding: 4px 0;

                border: 1px solid var(--lighter-gray);
                border-radius: 10px;
                width: 19%;
                gap: 14px;
                justify-content: left !important;

                img {
                    z-index: -1;
                    width: 3em !important;
                    height: 3em !important;
                }

                h3 {
                    font-size: 1.1em;
                    font-weight: 600;
                }

                &:hover {
                    cursor: pointer;
                    border: 1px solid var(--main-cian);
                }
            }   
        } 
    }

    .explore-icecreams {
        width: 70%;
        max-width: 70%;

        .explore-tabs fieldset {
            border: none;
            display: flex;
            gap: 14px;

            input[type=radio] {
                display: none;
                
                &:hover + label {
                    cursor: pointer;
                }
                
                &:checked + label {
                    font-weight: 600;
                    color: var(--main-pink);
                    text-decoration: underline 2px solid var(--main-pink);
                }
            }
            label {
                user-select: none;
                font-size: 1.25em;
            }
        }

        .icecreams-cards-wrapper {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            padding: 2em;

            background-color: var(--lighter-pink);

            .icecream-card {
                background-color: var(--white);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
            }
        }
    }

    .my-order {
        width: 25%;
        max-width: 25%;

        padding: 1em;

        border: 2px dashed var(--lighter-gray);
        border-radius: 20px;

        gap: 0;

        .order-header {
            width: 100%;

            h1 {
                font-size: var(--text-font-size);
                justify-content: start;
                gap: 6px;
    
                img {
                    width: 1.2em;
                }
            }
        }   

        .order-item {
            width: 100%;

            figure {
                width: 50px !important;
                height: 50px !important;
                
                img {
                    border-radius: 10px;
                    height: 100%;
                }
            }

            .order-info {
                width: 100%;
                h2.order-name {
                    font-size: 1em !important;
                }
                p.order-price-quantity {
                    font-size: 0.8em;
                }
            }
        }

        .finish-order {
            width: 100%;
        }
    }
}