:root {
    /* Colors */
    --black: #000000;
    --white: #ffffff;
    --main-blue: #28598C;
    --darker-blue: #0D334F;
    --main-pink: #E8708B;
    --darker-pink: #C64461;
    --lighter-pink: #FFB7C7;
    --main-yellow: #FFFA64;
    --main-cian: #8CEAFF;
    --lighter-cian: #BFF3FF;
    --lighter-gray: #BEBEBE;
  
    /* Fonts */
    --main-font: 'Baloo Thambi 2';
    --main-font-size: 1.1em;
    --title-font-size: 2em;
    --subtitle-font-size: 1.5em;
    --paragraph-font-size: 1em;
  }